<header>
    <a class="site-name" routerLink="/">Cinemax</a>

    <nav>
        <ul>
            <li>
                <a routerLink="/movie/explore">Explorer</a>
            </li>
            <li>
                <a routerLink="/movie/top-rated">Les mieux notés</a>
            </li>
            <li>
                <a routerLink="/movie/search">Rechercher</a>
            </li>
            <li>
                <a routerLink="/feedback">Feedback</a>
            </li>
            <li>
                <a routerLink="/about">A propos</a>
            </li>
        </ul>
    </nav>
</header>
