<h1>Recherche</h1>

<form (ngSubmit)="search()">
    <input type="search" name="query" placeholder="Rechercher un film ..." [(ngModel)]="query">
    <button>Rechercher</button>
</form>

<ng-container *ngIf="firstQuerySent">
    <ng-container *ngIf="!loading; else loader">
        <app-movie-grid [movies]="movies" *ngIf="movies; else error"></app-movie-grid>
    </ng-container>
</ng-container>

<ng-template #error>
    <app-error></app-error>
</ng-template>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>
