form{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    input[type="search"] {
        flex: 1;
        border: none;
        padding: 5px;
        font-size: 1rem;
    }

    label{
        flex: 1 0 100%;
    }
}
