<h1>Recherche</h1>

<p *ngIf="queryInput.invalid && searchForm.submitted">
    Vous devez saisir un terme pour effectuer une recherche
</p>
<form #searchForm="ngForm" (ngSubmit)="search()">
    <input type="search" name="query" placeholder="Rechercher un film ..."
           [(ngModel)]="query" #queryInput="ngModel" required>
    <button>Rechercher</button>
    <label>
        <input type="checkbox" name="includeAdult" [(ngModel)]="includeAdultContent">
        Inclure le contenu pour adulte
    </label>
</form>

<ng-container *ngIf="firstQuerySent">
    <ng-container *ngIf="!loading; else loader">
        <app-movie-grid [movies]="movies" *ngIf="movies; else error"></app-movie-grid>
    </ng-container>
</ng-container>

<ng-template #error>
    <app-error></app-error>
</ng-template>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>
