:root{
    --color-primary: #0082e6;
    --color-secondary: #00a8ff;
    --color-light: #ecf0f1;
    --color-dark: #2f3640;
    --color-alert: #c0392b;

    --main-gradient: linear-gradient(to right, var(--color-primary), var(--color-secondary));
}
